<div class = "center-block">

	<p> <H1> Thank you for you interest.</H1></p>
	<p> Your information is with us. Our Team will get back to you with more information <p>

	<% if( @volunteer_type == "non_individual" ) %>
		<p> Please share this link with members volunteering for this event<a href=<%= @link %>> here  </a></p>
	<% end %>
</div>
