<!DOCTYPE html>
<html>
<head>
  <title>Unitedfoodbank</title>
  <%= stylesheet_link_tag    'field', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'field', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
