
<div class = "center-block">

  <p> <H1> Thank you for you interest</H1></p>
  <p><H2> We are Glad to inform you that we have your details from a previous event.</H2></p>
  <p> Our Team will get back to you with more information <p>

</div>
